@charset "UTF-8";

::-webkit-scrollbar{width: 0px;
    height: 0px;}

body{background-color:maroon;
margin-top: 25px;}

main{background-color: bisque;
width: 90%;
height: 100%;
margin: auto;
padding: 15px;
text-align: justify;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h1{text-align: center;}     

h2{text-decoration:underline;}

p{line-height: 1.2;}

a{color: white;
font-size: 1.5em;
text-decoration: none;
margin-left: 45%;}